* {
  margin: 0;
  font-family: "Work Sans";
}

/* Banner Heading Section */
header {
  height: 710px;
  background-image: url("../images/banner/banner2.png");
  border: 0.5px solid gray;
}
.heading-title {
  text-align: right;
  margin: 216px 236px 0 876px;
  
}
header h1 {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 24px;
}
header p{
    margin-bottom: 32px;
    font-size: 16px;
    color: #343333;
    font-weight: 400;
}

button{
    width: 160px;
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

/* Body section-1 */
main{
    margin: 130px 280px 0 206px;
}
.body-section1{
    display: flex;
    align-items: center;
}
.body-section1 img{
    background-image: url(../images/personBackground.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: 2px 120px;
}

.body-text{
    margin-left: 87px;
}
.body-section1 h1{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.body-section1 p{
    margin-bottom: 32px;
    font-size: 16px;
    color: #343333;
    font-weight: 400;
}
.body-section1 ul{
    margin-bottom: 32px;
    font-size: 16px;
    color: #343333;
    font-weight: 400;
    list-style: none;
    list-style-image: url(../images/icons/check-mark.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.body-section1 ul li{
    margin-bottom: 5px;
}

/* My Plans sections(body section-2)  */
.body-section2{
    margin-top: 130px;
}
.my-plan{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.courses{
    text-align: center;
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
}

.courses p{
    color: #737272;
    font-size: 20px;
    margin-top: 14px;
}

/* Positive Mindset section(body-section-3) */
.body-section3{
    margin-top: 124px;
    
}
.positive-mind{
    /* border: 0.1px solid grey; */
    /* width: 1140px; */
    height: 300px;
    border-radius: 8px;
    background: linear-gradient(to left, rgba(255,255,255,0) 20%, rgb(255, 124, 92)), url(../images/watch.png);
    display: flex;
    align-items: center;
}
.positive-title{
    margin: 59px 500px 59px 64px;
    font-size: 25px;
}
.positive-title h1{
    color: white;
    margin-bottom: 24px;
}
.positive-title button{
    background-color: white;
    color: #F15B22;
    width: 160px;
    height: 64px;
}
/* About Me section  */
.about-me{
    margin-top: 130px;
    
}
.about-me h1{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
}
.Myinfo{
    margin-top: 50px;
    background-color: #f6a98a;
    border-radius: 10px;
}
.my-img img{
    width: 400px;
    border-radius: 10px;
}
.my-description{
    padding-left: 30px;
    margin-right: 110px;
    height: 400px;
    
}
.my-description p{
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    color: #343333;
    font-weight: 400;
    
}
.my-description button{
    border-radius: 100px;
    height: 50px;
    width: 120px;
}
.Myinfo{
    display: flex;
    align-items: center;
    
}
/* footer section  */
footer{
    background-color: #000000;
    height: 577px;
    margin-top: 130px;
    color: #FFFFFF;
    
}
.future{
    width: 485px;
    margin-top: 130px;
}
.future h1{
    margin-bottom: 16px;
}
.future p{
    margin-bottom: 24px;
}
.subscribe{
    width: 325px;
    margin-top: 130px;
}
.subscribe input{
    margin-top: 31px;
    width: 315px;
    height: 64px;
    background-color: #000000;
    color: white;
    border-radius: 8px;
    font-size: 18px;
}
.subscribe button{
    background-color: white;
    color: #F15B22;
    width: 170.11px;
    height: 64px;
    margin-top: 16px;
}
.social-media img{
    padding-right: 15px;
}
.footerSection{
    display: flex;
    justify-content:space-around;
    margin-top: 130px;
}